In [1]:
import numpy as np
import pandas as pd
import scipy as sc
import matplotlib as mpl
import matplotlib.pyplot as plt
from helper import *

In [2]:
df = load_train_data()

In [3]:
df.head()

,time,S1,S2,S3,S4,S5,S6,S7,S8,S9,...,S47,S48,S49,S50,S51,S52,S53,S54,S55,S56
0,10000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,10001,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,10002,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,10003,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,10004,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
# plot how much data for each sensor is missing in %
for i in xrange(56):
    sid = 'S'+str(i+1)
    idxs = df[sid] == -1
    print sid + ' ' + str(np.sum(idxs * 1.) / (1. * df.count()[0]))

S1 0.0575231481481
S2 0.0386574074074
S3 0.0289814814815
S4 0.0915509259259
S5 0.0314814814815
S6 0.379652777778
S7 0.0238425925926
S8 0.052337962963
S9 0.54962962963
S10 0.0412731481481
S11 0.0263888888889
S12 0.124606481481
S13 0.572615740741
S14 0.582662037037
S15 0.0528240740741
S16 0.00842592592593
S17 0.388194444444
S18 0.0466203703704
S19 0.0284259259259
S20 0.559166666667
S21 0.0480787037037
S22 0.0443055555556
S23 0.498981481481
S24 0.0386574074074
S25 0.0266666666667
S26 0.422638888889
S27 0.021412037037
S28 0.444675925926
S29 0.617430555556
S30 0.507569444444
S31 0.466041666667
S32 0.570578703704
S33 0.0296759259259
S34 0.528194444444
S35 0.0633333333333
S36 0.107962962963
S37 0.578726851852
S38 0.560949074074
S39 0.115555555556
S40 0.031712962963
S41 0.458356481481
S42 0.061712962963
S43 0.024212962963
S44 0.545810185185
S45 0.38912037037
S46 0.517800925926
S47 0.0
S48 0.517199074074
S49 0.614351851852
S50 0.0326157407407
S51 0.0880324074074
S52 0.0290509259259
S53 0.0288657407407
S54 0.0293518518519
S55 0.0794212962963
S56 0.00148148148148

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
43170    False
43171    False
43172    False
43173    False
43174    False
43175    False
43176    False
43177    False
43178    False
43179    False
43180    False
43181    False
43182    False
43183    False
43184    False
43185    False
43186    False
43187    False
43188    False
43189    False
43190    False
43191    False
43192    False
43193    False
43194    False
43195    False
43196    False
43197    False
43198    False
43199    False
Name: S1, dtype: bool